name: Deploy Next.js app

on:
  push:
    branches:
      - master

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: 22

      - name: Deploy to server
        uses: appleboy/ssh-action@v0.1.7
        with:
          host: 161.35.155.32
          username: sanaker
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          script: |
            cd /home/sanaker/media-website
            git pull origin master

            echo "Checking changed files..."

            CHANGED_FILES=$(git diff --name-only HEAD@{1} HEAD)
            echo "$CHANGED_FILES"

            RELEVANT_PATTERNS='(\.js$|\.ts$|\.tsx$|package(-lock)?\.json|next\.config\.js|\.env)'

            if ! echo "$CHANGED_FILES" | grep -qE "$RELEVANT_PATTERNS"; then
              echo "No relevant code changes detected. Skipping build and deploy."
              exit 0
            fi

            if git diff --name-only HEAD@{1} | grep -qE 'package(-lock)?\.json'; then
              echo "Dependencies changed. Running npm install..."
              npm install
            else
              echo "No dependency changes. Skipping npm install."
            fi

            echo "Building the app..."
            npm run build

            echo "Restarting app with supervisor"
            supervisorctl restart media-sanaker
